<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Raven/DataDir" value="~\Database\System" />
    <add key="Raven/AnonymousAccess" value="All" />
    <add key="Raven/MaxPageSize" value="10000"/>
    <add key="Raven/BackgroundTasksPriority" value="AboveNormal"/>
    <add key="Raven/TempIndexPromotionMinimumQueryCount" value="10"/>
    <add key="Raven/Esent/CacheSizeMax" value="512"/>
    <add key="Raven/Esent/MaxVerPages" value="512"/>
    <add key="Raven/AnonymousAccess" value="Admin"/>
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="All" path="*" verb="*" type="Raven.Web.ForwardToRavenRespondersFactory, Raven.Web" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Analyzers;Plugins"/>
    </assemblyBinding>
  </runtime>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <hostingEnvironment idleTimeout="Infinite" shutdownTimeout="300"/>
  </system.web>
</configuration>