<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper-Async" version="1.03" targetFramework="net45" />
  <package id="NEventStore" version="4.0.0.15" targetFramework="net45" />
  <package id="NEventStore.Persistence.RavenPersistence" version="4.1.0.10" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="NLog" version="2.1.0" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2851" targetFramework="net45" />
</packages>