<div class="activity-line row">
  <span class="span1 label <%= color %> right"><%= label_text %></span>
  <span class="span5 title"><a href="#"><%= title_text %></a></span>
  <span class="span2 date pull-right"><%= date_text %></span>
</div>