<%= render "heading", title: "New action required" %>

<div class="padded">

  <div class="codehint">Here's how you can create a new action box</div>
  <pre>&lt;div class=&quot;slate-content&quot;&gt;<br/>      &lt;div class=&quot;box-left&quot;&gt;<br/>        &lt;%= image_tag &quot;clipboard.png&quot; %&gt;<br/>      &lt;/div&gt;<br/><br/>      &lt;div class=&quot;box-right&quot;&gt;<br/>        &lt;h3&gt;Your project doesn't have any tasks yet.&lt;/h3&gt;<br/>        &lt;div class=&quot;text&quot;&gt;<br/>          Lorem ipsum dolor sit amet<br/>        &lt;/div&gt;<br/>        &lt;a href=&quot;#&quot;&gt;Learn more about project tasks&lt;/a&gt;<br/>        &lt;br/&gt;<br/>        &lt;span class=&quot;btn blue btn-slate-action&quot;&gt;&lt;i class=&quot;icon-plus-sign&quot;&gt;&lt;/i&gt; Add the first task!&lt;/span&gt;<br/>      &lt;/div&gt;<br/>    &lt;/div&gt;</pre>

  <div class="slate">
    <div class="slate-content">
      <div class="box-left">
        <%= image_tag "clipboard.png" %>
      </div>

      <div class="box-right">
        <h3>Your project doesn't have any tasks yet.</h3>
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis. Nullam quis risus eget urna mollis ornare vel eu leo.
        </div>
        <a href="#">Learn more about project tasks</a>
        <br/>
        <span class="btn blue btn-slate-action"><i class="icon-plus-sign"></i> Add the first task!</span>
      </div>
    </div>
  </div>

</div>
