<div class="heading-bar bordered">
  <h3 class="pull-left">
    <%= title %>
    <% if defined? subheading %>
        <span class="subheading">
          <%= subheading %>
        </span>
    <% end %>
  </h3>
</div>