<div class="padded">

  <div class="row">
    <div class="pull-right">
      <button id="docs" class="btn blue" data-toggle="button">docs</button>
    </div>
  </div>

  <div class="codehint">The heading bar has two positions, left and right. Here's how you can use it</div>
  <pre>
          &lt;div class=&quot;heading-bar&quot;&gt;<br/>          &lt;h3 class=&quot;pull-left&quot;&gt;The heading bar &lt;span class=&quot;subheading&quot;&gt;(with subheading)&lt;/span&gt;&lt;/h3&gt;<br/>          &lt;ul class=&quot;nav-links pull-right&quot;&gt;<br/>            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-caret-left&quot;&gt;&lt;/i&gt; back&lt;/a&gt;&lt;/li&gt;<br/>            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;some link&lt;/a&gt;&lt;/li&gt;<br/>          &lt;/ul&gt;<br/>        &lt;/div&gt;</pre>



  <h1>Heading1 <span class="subheading">Subheading</span></h1>
  <h2>Heading2 <span class="subheading">Subheading</span></h2>
  <h3>Heading3 <span class="subheading">Subheading</span></h3>
  <h4>Heading4 <span class="subheading">Subheading</span></h4>
  <h5>Heading5 <span class="subheading">Subheading</span></h5>
  <h6>Heading6 <span class="subheading">Subheading</span></h6>


  <div class="codehint">Heading styles with subheadings! This is pretty self explanatory:</div>
  <pre>
    &lt;h6&gt;Heading6 &lt;span class=&quot;subheading&quot;&gt;Subheading&lt;/span&gt;&lt;/h6&gt;</pre>



  <div style="line-height: 24px;">
    This theme comes with new awesome label styles like the <span class="label">label</span>
    <br/>
    We also have <span class="label green">label green</span>. Here's some lorem ipsum:
    <span class="label green">label green</span> dolor sit amet in pretium nisl <span class="label red">label red</span> Nulla volutpat aliquam velit.
    Lorem ipsum dolor sit amet Consectetur <span class="label orange">label orange</span> elit Integer molestie lorem at massa
    <span class="label blue">label blue</span> in pretium nisl <span class="label purple">label purple</span> Nulla volutpat aliquam velit.
    Lorem <span class="label pink">label pink</span> dolor sit amet Consectetur <span class="label yellow">label yellow</span> elit Integer molestie lorem at massa

    <div class="codehint">Add labels using class="label color"</div>
   <pre>
    &lt;span class=&quot;label green&quot;&gt;green&lt;/span&gt;
    &lt;span class=&quot;label blue&quot;&gt;blue&lt;/span&gt;
    ...</pre>
  </div>
</div>