@import "compass/css3";

ul.header-tabs {

  margin-bottom: 0;

  .dropdown-toggle .caret {
    border-top-color: white;
    border-bottom-color: white;
  }

  .open .dropdown-toggle {
    background: rgba(255,255,255,.05);
    @include box-shadow(0 0 5px 4px rgba(0,0,0,.1) inset);
    border: 1px solid transparent;
  }

  border-bottom: 0;

  > li {
    display: block;
    float: left;
    margin-left: 10px;

    > a {
      @include border-radius(2px 2px 0 0,2px 2px 0 0);
      padding: 5px 10px;
      background: rgba(255,255,255,.15);
      border-top: 1px solid rgba(255,255,255,.2);
      @include text-shadow(0 1px darken(#3677C8,15));
      color: #fff;

      &:hover {
        border-color: transparent;
        background-color: rgba(255,255,255,.1);
      }
    }

    &.active {

      > a {
        background: #fefefe;
        @include background-image(linear-gradient(top, #f6f6f6, #fefefe));
        border-top: 1px solid #fff;
        border-bottom: 0;
        @include text-shadow(none);
        color: #3677C8;
        &:hover {color: darken(#3677C8,15); border-bottom: 0;}
      }
    }
  }
}

.heading-bar {
  @include heading-bar;
}

