@using ProCenter.Mvc.Infrastructure.Extension
@using ProCenter.Service.Message.Message

<div id="createEventModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="createEventLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="createModalLabel">Assessment Reminder</h3>
    </div>
    <form>
        <div id="createEventMessage" class="field-validation-error hidden modal-error">
        </div>
        <div class="modal-body">
            @{
                var assessmentReminderDto = new AssessmentReminderDto();
            }
            @Html.EditorFor(m => assessmentReminderDto)
        </div>
        <div class="modal-footer">
            @if ( Html.CanAccess ( "AssessmentReminder", "Create", "POST" ) )
            {
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <a id="create-event-btn" href='@Url.Action( "Create", "AssessmentReminder" )' role="button" class="btn btn-primary" aria-hidden="true" data-loadelementid="create-event-loading-indicator">Create</a>
            }
        </div>
        <div id="create-event-loading-indicator" class="modal-loading-indicator" style="display: none"></div>
    </form>
</div>

<div id="editEventModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editEventLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="editModalLabel">Assessment Reminder</h3>
    </div>
    <div id="change-password-message" class="field-validation-error hidden modal-error">
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
            @if ( Html.CanAccess ( "AssessmentReminder", "Edit", "POST" ) )
            {
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <a id="edit-event-btn" href='@Url.Action( "Edit", "AssessmentReminder" )' role="button" class="btn btn-primary" aria-hidden="true" data-loadelementid="event-loading-indicator">Save</a>
            }
    </div>
    <div id="event-loading-indicator" class="modal-loading-indicator" style="display: none"></div>
</div>

<div id="calendar-widget" class="widget">
    <div class="widget-header">
        <div class="title">
            Reminder Calendar
        </div>
        <span class="tools">
            @if ( Html.CanAccess ( "AssessmentReminder", "Create" ) )
            {
                <a class="fs1" aria-hidden="true" href="#createEventModal" data-toggle="modal" data-icon="&#xe102;" title="Add reminder"></a>
            }
        </span>
    </div>
    <div class="widget-body" data-layout-height="*">
        <div id='calendar'>
        </div>
    </div>
</div>