<div class="widget">
    <div class="widget-header">
        <div class="title">
            Recent Assessments
        </div>
    </div>
    <div class="widget-body" data-layout-height="*">
        <div class="dataTable_wrapper">
            <table id="patientAssessmentsDataTable">
                <thead>
                    <tr>
                        <th class="width-15">Date Started</th>
                        <th class="width-40">Assessment</th>
                        <th class="width-10">Complete</th>
                        <th class="width-20"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="clear"></div>
    </div>
</div>