@using ProCenter.Mvc.Infrastructure.Extension
@using ProCenter.Mvc.Views.Shared
@using ProCenter.Service.Message.Patient

@model ProCenter.Service.Message.Message.WorkflowMessageDto

@{
    var patient = ViewData["Patient"] as PatientDto;
    var message = string.Format ( Shared.WorkflowMessage,
        patient.FullName (),
        Model.InitiatingAssessmentScore.Value,
        Html.GetAssessmentResource ( Model.InitiatingAssessmentCode ),
        Html.GetAssessmentResource ( Model.RecommendedAssessmentDefinitionCode ) );
}

<div class="workflow-message">
    <div class="feed-left"></div>
    <div class="feed-right" data-icon="&#xe0c4;">
        <div class="title">@message</div>
        <div class="tools">
            @Html.ActionLink( Shared.AdministerAssessmentNowButton, "AdministerAssessment", "WorkflowMessage", new {key = Model.Key, patientKey = Model.PatientKey, assessmentDefinitionKey = Model.RecommendedAssessmentDefinitionKey, workflowKey = Model.Key}, new {@class = "btn btn-success", aria_label = message + " " + Shared.AdministerAssessmentNowButton} )
            @Html.ActionLink( Shared.RejectButton, "Reject", "WorkflowMessage", new {key = Model.Key, assessmentKey = Model.InitiatingAssessmentKey, patientKey = Model.PatientKey}, new {@class = "btn btn-danger", aria_label = message + " " + Shared.RejectButton} )
        </div>
    </div>
</div>