<div class="modal hide fade in" id="modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label">To</label>
        <div class="controls">
          <input id="to" name="to" type="text">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Message</label>
        <div class="controls">
          <textarea id="message" name="message" rows="3"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn green">Save changes</a>
  </div>
</div>