<div class="codehint">Add class table-header to a table to get this effect</div>
<pre>&lt;table class=&quot;table table-bordered table-striped table-header&quot;&gt;
  ...</pre>

<table class="table table-bordered table-striped table-header">
  <thead>
  <tr>
    <th>Header</th>
    <th>Header</th>
    <th>Header</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Content</td>
    <td>3</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Content</td>
    <td>2</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Content</td>
    <td>5</td>
    <td>6</td>
  </tr>
  <tr>
    <td>Content</td>
    <td>8</td>
    <td>9</td>
  </tr>
  <tr>
    <td>Content</td>
    <td>2</td>
    <td>3</td>
  </tr>
  </tbody>
</table>


<div class="codehint">Use shadowboxes to show messages/warnings. We got green, yellow and grey</div>
<pre>
  &lt;div class=&quot;shadow-box yellow&quot;&gt;
  &lt;div class=&quot;shadow-box green&quot;&gt;
  &lt;div class=&quot;shadow-box&quot;&gt;</pre>
<div class="shadow-box yellow">
  This is a warning message.
  <br/>
  Please enter a valid e-mail address.
  <br/>
  Your message is too long (maximum is 500 characters)
</div>