@import "compass/css3";

.nav-tabs .dropdown-menu {
  @include border-radius(4px,4px);
}

.dropdown-menu {
  padding: 0;
  border: 1px solid #C8CBE2;
  @include background-image(linear-gradient(top, #f9f9f9, #eaebf2));

  li {

    &:first-child {
      overflow: hidden;
      @include border-radius(4px 4px 0 0,4px 4px 0 0);
    }

    &:last-child {
      overflow: hidden;
      @include border-radius(0 0 4px 4px , 0 0 4px 4px);
    }

    a {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      &:hover {
        color: #fff;
        @include text-shadow(0 -1px rgba(0,0,0,.5));
        @include background-image(linear-gradient(top, #83ADDF, #578DD3));
        border-bottom: 1px solid #456AA0;
        border-top: 1px solid #578DD3;
        @include box-shadow(0 1px 1px rgba(0,0,0,.1));
      }
    }
  }
}