article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
{
    display: block;
}

audio, canvas, video
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls])
{
    display: none;
}

html
{
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

a:focus
{
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a:hover, a:active
{
    outline: 0;
}

sub, sup
{
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup
{
    top: -0.5em;
}

sub
{
    bottom: -0.25em;
}

img
{
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

#map_canvas img, .google-maps img
{
    max-width: none;
}

button, input, select, textarea
{
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}

button, input
{
    *overflow: visible;
    line-height: normal;
}

button::-moz-focus-inner, input::-moz-focus-inner
{
    padding: 0;
    border: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"]
{
    -webkit-appearance: button;
    cursor: pointer;
}

label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"]
{
    cursor: pointer;
}

input[type="search"]
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button
{
    -webkit-appearance: none;
}

textarea
{
    overflow: auto;
    vertical-align: top;
}

@media print
{
    *
    {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    a, a:visited
    {
        text-decoration: underline;
    }

    a[href]:after
    {
        content: " (" attr(href) ")";
    }

    abbr[title]:after
    {
        content: " (" attr(title) ")";
    }

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after
    {
        content: "";
    }

    pre, blockquote
    {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead
    {
        display: table-header-group;
    }

    tr, img
    {
        page-break-inside: avoid;
    }

    img
    {
        max-width: 100% !important;
    }

    @page
    {
        margin: .5cm;
    }

    p, h2, h3
    {
        orphans: 3;
        widows: 3;
    }

    h2, h3
    {
        page-break-after: avoid;
    }
}

body
{
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: white;
}

a
{
    color: #0088cc;
    text-decoration: none;
}

a:hover, a:focus
{
    color: #005580;
    text-decoration: underline;
}

.img-rounded
{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.img-polaroid
{
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.img-circle
{
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}

.row
{
    margin-left: -20px;
    *zoom: 1;
}

.row:before, .row:after
{
    display: table;
    content: "";
    line-height: 0;
}

.row:after
{
    clear: both;
}

[class*="span"]
{
    float: left;
    min-height: 1px;
    margin-left: 20px;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container
{
    width: 940px;
}

.span12
{
    width: 940px;
}

.span11
{
    width: 860px;
}

.span10
{
    width: 780px;
}

.span9
{
    width: 700px;
}

.span8
{
    width: 620px;
}

.span7
{
    width: 540px;
}

.span6
{
    width: 460px;
}

.span5
{
    width: 380px;
}

.span4
{
    width: 300px;
}

.span3
{
    width: 220px;
}

.span2
{
    width: 140px;
}

.span1
{
    width: 60px;
}

.offset12
{
    margin-left: 980px;
}

.offset11
{
    margin-left: 900px;
}

.offset10
{
    margin-left: 820px;
}

.offset9
{
    margin-left: 740px;
}

.offset8
{
    margin-left: 660px;
}

.offset7
{
    margin-left: 580px;
}

.offset6
{
    margin-left: 500px;
}

.offset5
{
    margin-left: 420px;
}

.offset4
{
    margin-left: 340px;
}

.offset3
{
    margin-left: 260px;
}

.offset2
{
    margin-left: 180px;
}

.offset1
{
    margin-left: 100px;
}

.row-fluid
{
    width: 100%;
    *zoom: 1;
}

.row-fluid:before, .row-fluid:after
{
    display: table;
    content: "";
    line-height: 0;
}

.row-fluid:after
{
    clear: both;
}

.row-fluid [class*="span"]
{
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.12766%;
    *margin-left: 2.07447%;
}

.row-fluid [class*="span"]:first-child
{
    margin-left: 0;
}

.row-fluid .controls-row [class*="span"] + [class*="span"]
{
    margin-left: 2.12766%;
}

.row-fluid .span12
{
    width: 100%;
    *width: 99.94681%;
}

.row-fluid .span11
{
    width: 91.48936%;
    *width: 91.43617%;
}

.row-fluid .span10
{
    width: 82.97872%;
    *width: 82.92553%;
}

.row-fluid .span9
{
    width: 74.46809%;
    *width: 74.41489%;
}

.row-fluid .span8
{
    width: 65.95745%;
    *width: 65.90426%;
}

.row-fluid .span7
{
    width: 57.44681%;
    *width: 57.39362%;
}

.row-fluid .span6
{
    width: 48.93617%;
    *width: 48.88298%;
}

.row-fluid .span5
{
    width: 40.42553%;
    *width: 40.37234%;
}

.row-fluid .span4
{
    width: 31.91489%;
    *width: 31.8617%;
}

.row-fluid .span3
{
    width: 23.40426%;
    *width: 23.35106%;
}

.row-fluid .span2
{
    width: 14.89362%;
    *width: 14.84043%;
}

.row-fluid .span1
{
    width: 6.38298%;
    *width: 6.32979%;
}

.row-fluid .offset12
{
    margin-left: 104.25532%;
    *margin-left: 104.14894%;
}

.row-fluid .offset12:first-child
{
    margin-left: 102.12766%;
    *margin-left: 102.02128%;
}

.row-fluid .offset11
{
    margin-left: 95.74468%;
    *margin-left: 95.6383%;
}

.row-fluid .offset11:first-child
{
    margin-left: 93.61702%;
    *margin-left: 93.51064%;
}

.row-fluid .offset10
{
    margin-left: 87.23404%;
    *margin-left: 87.12766%;
}

.row-fluid .offset10:first-child
{
    margin-left: 85.10638%;
    *margin-left: 85.0%;
}

.row-fluid .offset9
{
    margin-left: 78.7234%;
    *margin-left: 78.61702%;
}

.row-fluid .offset9:first-child
{
    margin-left: 76.59574%;
    *margin-left: 76.48936%;
}

.row-fluid .offset8
{
    margin-left: 70.21277%;
    *margin-left: 70.10638%;
}

.row-fluid .offset8:first-child
{
    margin-left: 68.08511%;
    *margin-left: 67.97872%;
}

.row-fluid .offset7
{
    margin-left: 61.70213%;
    *margin-left: 61.59574%;
}

.row-fluid .offset7:first-child
{
    margin-left: 59.57447%;
    *margin-left: 59.46809%;
}

.row-fluid .offset6
{
    margin-left: 53.19149%;
    *margin-left: 53.08511%;
}

.row-fluid .offset6:first-child
{
    margin-left: 51.06383%;
    *margin-left: 50.95745%;
}

.row-fluid .offset5
{
    margin-left: 44.68085%;
    *margin-left: 44.57447%;
}

.row-fluid .offset5:first-child
{
    margin-left: 42.55319%;
    *margin-left: 42.44681%;
}

.row-fluid .offset4
{
    margin-left: 36.17021%;
    *margin-left: 36.06383%;
}

.row-fluid .offset4:first-child
{
    margin-left: 34.04255%;
    *margin-left: 33.93617%;
}

.row-fluid .offset3
{
    margin-left: 27.65957%;
    *margin-left: 27.55319%;
}

.row-fluid .offset3:first-child
{
    margin-left: 25.53191%;
    *margin-left: 25.42553%;
}

.row-fluid .offset2
{
    margin-left: 19.14894%;
    *margin-left: 19.04255%;
}

.row-fluid .offset2:first-child
{
    margin-left: 17.02128%;
    *margin-left: 16.91489%;
}

.row-fluid .offset1
{
    margin-left: 10.6383%;
    *margin-left: 10.53191%;
}

.row-fluid .offset1:first-child
{
    margin-left: 8.51064%;
    *margin-left: 8.40426%;
}

[class*="span"].hide, .row-fluid [class*="span"].hide
{
    display: none;
}

[class*="span"].pull-right, .row-fluid [class*="span"].pull-right
{
    float: right;
}

.container
{
    margin-right: auto;
    margin-left: auto;
    *zoom: 1;
}

.container:before, .container:after
{
    display: table;
    content: "";
    line-height: 0;
}

.container:after
{
    clear: both;
}

.container-fluid
{
    padding-right: 20px;
    padding-left: 20px;
    *zoom: 1;
}

.container-fluid:before, .container-fluid:after
{
    display: table;
    content: "";
    line-height: 0;
}

.container-fluid:after
{
    clear: both;
}

p
{
    margin: 0 0 10px;
}

.lead
{
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 200;
    line-height: 30px;
}

small
{
    font-size: 85%;
}

strong
{
    font-weight: 700;
}

em
{
    font-style: italic;
}

cite
{
    font-style: normal;
}

.muted
{
    color: #999999;
}

a.muted:hover, a.muted:focus
{
    color: gray;
}

.text-warning
{
    color: #c09853;
}

a.text-warning:hover, a.text-warning:focus
{
    color: #a47e3c;
}

.text-error
{
    color: #b94a48;
}

a.text-error:hover, a.text-error:focus
{
    color: #953b39;
}

.text-info
{
    color: #3a87ad;
}

a.text-info:hover, a.text-info:focus
{
    color: #2d6987;
}

.text-success
{
    color: #468847;
}

a.text-success:hover, a.text-success:focus
{
    color: #356635;
}

.text-left
{
    text-align: left;
}

.text-right
{
    text-align: right;
}

.text-center
{
    text-align: center;
}

h1, h2, h3, h4, h5, h6
{
    margin: 10px 0;
    font-family: inherit;
    font-weight: 700;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small
{
    font-weight: 400;
    line-height: 1;
    color: #999999;
}

h1, h2, h3
{
    line-height: 40px;
}

h1
{
    font-size: 38.5px;
}

h2
{
    font-size: 31.5px;
}

h3
{
    font-size: 24.5px;
}

h4
{
    font-size: 17.5px;
}

h5
{
    font-size: 14px;
}

h6
{
    font-size: 11.9px;
}

h1 small
{
    font-size: 24.5px;
}

h2 small
{
    font-size: 17.5px;
}

h3 small
{
    font-size: 14px;
}

h4 small
{
    font-size: 14px;
}

.page-header
{
    padding-bottom: 9px;
    margin: 20px 0 30px;
    border-bottom: 1px solid #eeeeee;
}

ul, ol
{
    padding: 0;
    margin: 0 0 10px 25px;
}

ul ul, ul ol, ol ol, ol ul
{
    margin-bottom: 0;
}

li
{
    line-height: 20px;
}

ul.unstyled, ol.unstyled
{
    margin-left: 0;
    list-style: none;
}

ul.inline, ol.inline
{
    margin-left: 0;
    list-style: none;
}

ul.inline > li, ol.inline > li
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding-left: 5px;
    padding-right: 5px;
}

dl
{
    margin-bottom: 20px;
}

dt, dd
{
    line-height: 20px;
}

dt
{
    font-weight: 700;
}

dd
{
    margin-left: 10px;
}

.dl-horizontal
{
    *zoom: 1;
}

.dl-horizontal:before, .dl-horizontal:after
{
    display: table;
    content: "";
    line-height: 0;
}

.dl-horizontal:after
{
    clear: both;
}

.dl-horizontal dt
{
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dl-horizontal dd
{
    margin-left: 180px;
}

hr
{
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid white;
}

abbr[title], abbr[data-original-title]
{
    cursor: help;
    border-bottom: 1px dotted #999999;
}

abbr.initialism
{
    font-size: 90%;
    text-transform: uppercase;
}

blockquote
{
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    border-left: 5px solid #eeeeee;
}

blockquote p
{
    margin-bottom: 0;
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.25;
}

blockquote small
{
    display: block;
    line-height: 20px;
    color: #999999;
}

blockquote small:before
{
    content: '\2014 \00A0';
}

blockquote.pull-right
{
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eeeeee;
    border-left: 0;
}

blockquote.pull-right p, blockquote.pull-right small
{
    text-align: right;
}

blockquote.pull-right small:before
{
    content: '';
}

blockquote.pull-right small:after
{
    content: '\00A0 \2014';
}

q:before, q:after, blockquote:before, blockquote:after
{
    content: "";
}

address
{
    display: block;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 20px;
}

code, pre
{
    padding: 0 3px 2px;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    font-size: 12px;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

code
{
    padding: 2px 4px;
    color: #d14;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    white-space: nowrap;
}

pre
{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

pre.prettyprint
{
    margin-bottom: 20px;
}

pre code
{
    padding: 0;
    color: inherit;
    white-space: pre;
    white-space: pre-wrap;
    background-color: transparent;
    border: 0;
}

.pre-scrollable
{
    max-height: 340px;
    overflow-y: scroll;
}

form
{
    margin: 0 0 20px;
}

fieldset
{
    padding: 0;
    margin: 0;
    border: 0;
}

legend
{
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

legend small
{
    font-size: 15px;
    color: #999999;
}

label, input, button, select, textarea
{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
