<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.0" newVersion="2.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="RavenDbSystem" connectionString="Url=http://localhost/ProCenter.RavenDbServer" />
    <add name="RavenDbPROCenter" connectionString="Url=http://localhost/ProCenter.RavenDbServer;Database=PROCenter" />
    <add name="ProCenterSqlDatabase" connectionString="Data Source=localhost;Initial Catalog=ProCenter.Database;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="EmailReminderSubject" value="PRO Center Assessment Reminder (Dev)" />
    <add key="EmailReminderCC" value="yu.mei@feisystems.com" />
    <add key="TriggerSimpleSchedulerIntervalInSeconds" value="60" /> <!-- Only for testing. If this setting exists, cron scheduler setting below will be ignored.-->
    <add key="TriggerCronSchedulerExpression" value="0 0 0 ? * MON-FRI" /> <!-- every week day at 12:00AM midnight -->
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="PROCenter.fei@gmail.com">
        <network host="smtp.gmail.com" port="587" enableSsl="true" userName="PROCenter.fei" password="Alt~t0Navigate" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>