<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="debugger" xsi:type="Debugger" layout="${logger}::${message}"/>

    <target name="AsyncLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              keepFileOpen="false"
              encoding="iso-8859-2"
              layout="${longdate} - ${logger} - ${message}"
              createDirs="true"
              fileName="${basedir}/logs/ProCenter${shortdate}.log" />
    </target>

    <target name="AsyncPerfLogFile" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
      <target xsi:type="File"
              keepFileOpen="false"
              encoding="iso-8859-2"
              layout="${longdate} - ${logger} - ${message}"
              createDirs="true"
              fileName="${basedir}/logs/ProCenter${shortdate}.log" />
    </target>

    <target name="Mail" xsi:type="AsyncWrapper">
      <target xsi:type="Mail" html="true" subject="PRO Center Exception (Dev)" body="${logger} - ${message} - ${exception} - ${stacktrace}"
              to="yu.mei@feisystems.com;eric.roth@feisystems.com"
              from="PROCenter.fei@gmail.com"
              encoding="UTF-8"
              smtpUsername="PROCenter.fei"
              enableSsl="true"
              smtpPassword="Alt~t0Navigate"
              smtpAuthentication="Basic"
              smtpServer="smtp.gmail.com"
              smtpPort="587">
      </target>
    </target>

    <target xsi:type="Trace" name="DiagnosticsDebug" layout="${longdate} - ${logger} - ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="AsyncLogFile,DiagnosticsDebug" />
    <!--<logger name="WebServicePerformance" minlevel="Debug" writeTo="AsyncPerfLogFile" />-->
    <logger name="WCF.Messages" final="true" />  
    <logger name="*" minLevel="Error" writeTo="Mail" />
    <!--<logger name="*" minlevel="Trace" writeTo="debugger" />-->
  </rules>
</nlog>